<html>

<head>
    <script src="./vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
</head>
<style>

</style>

<body>
    <div id="app">

        <template v-if="isPlaying == false">
            <div class="searchBarpage">
                <input class="searchForm" type="text" v-on:keyup.13="run" v-model="searchBar" autofocus placeholder="Type a song!">
                <br />
                <!--<button v-on:click="run"> start player</button></div> -->
                <svg v-on:click="run" width="150" height="40" style="border-radius: 4px;">
                    <rect x="0" y="0" rx="0" ry="0" width="56" height="40" style="fill:red;" />
                    <rect x="56" y="0" rx="0" ry="0" width="94" height="40" style="fill:#282c34;" />
                    <text x="75" y="30" fill="#ffffff" font-size="28" font-family="Verdana" x="50" y="86">Play</text>
                    <polygon class="triangle" points="20 10, 20 30, 40 20, 20 10" style="fill:white;stroke:white;stroke-width:1;fill-rule:evenodd;"
                    />
                </svg>
                <span class="loadingSign" v-if="loading == true"> Loading</span>
        </template>


        <template v-else>
            <div class="playingBar">
                <!--<div class="playbutton" v-on:click="stopSong">Stop music</div> -->


                <div class="backbutton" v-on:click="backToSearch">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="40px" height="40px" viewBox="0 0 60 40" xml:space="preserve">
                        <polygon points="17.199,16.353 21.005,13.667 22.068,12.547 22.068,10.813 21.396,9.637 19.941,8.854 17.983,8.07 16.08,8.35 
                        0.747,18.535 0.412,19.375 0.412,20.941 2.874,23.18 16.136,31.237 19,31.518 21.788,30.118 22.068,28.496 22.068,27.097 
                        21.116,26.369 19.998,25.474 19,24.746 18.039,24.131 16.808,23.684 17.087,23.18 34.715,23.403 36.953,21.948 37.736,21.053 
                        37.736,19.095 36.674,17.695 34.771,16.688 33.204,16.521 16.976,16.744 " />
                    </svg>

                </div>
                <div class="titleBar">{{currentVideoTitle}}</div>
                <div class="timelength">{{currentVideoTime}}</div>
                <div class="imgBox"> <img style="height: 150px;width: 180px;" v-bind:src="currentVideoImg" /></div>
                <div class="playbutton">
                    <div v-on:click="pauseSong">
                        <svg width="40" height="40">
                            <rect x="0" y="0" rx="7" ry="7" width="40" height="40" style="fill:red;" />
                            <polygon points="8 8, 8 32, 32 32, 32 8 ,8 8 " style="fill:white;stroke:white;stroke-width:1;fill-rule:evenodd;" />
                        </svg>
                    </div>
                </div>


                <!-- <div class="shadebox"> </div> -->


                <div class="nextsong" v-on:click="nextSong"> Wrong song? try another one😂
                </div>
            </div>
        </template>
        </div>
        <!--<webview id="sound" src="{{currentVideo}}" style="height:500px"></webview>  -->

        <script src="./side.js"></script>
        <script>

        </script>
</body>

</html>